html, body {
  font-family:'Open Sans', arial;
  text-align: center;

}

*{
  padding: 0px;
  margin: 0px;
}

/* Navigation and heading */
#navbar ul {
  list-style: none;
  text-align: right;
  width: 90%;
  position: fixed;
  padding: 10px;
}

#navbar ul li {
  display: inline-block;
  padding: 10px 15px;
}

#navbar a {
  text-decoration: none;
  color: brown;

}


/* welcome section */
#welcome-section {
  min-height: 45vw;
  padding-top: 40vw;
  background: #339933;
}

#welcome-section h1 {
  color: #fff;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 4em;
}
